{% extends "base.html" %}
{% block title %}
index
{% endblock %}

{% block content %}
<h1>{{ titulo }}</h1>

<div class="container">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum et, dolorem commodi reiciendis nihil, numquam, placeat incidunt quaerat quae sit quos. Molestiae inventore distinctio voluptatum nemo itaque, quos at voluptatem!</div>
    <div>Sapiente corrupti earum totam a facilis quos excepturi sint nostrum assumenda suscipit enim, quas fugit modi quo tempora consectetur eum saepe eos eligendi quaerat reprehenderit itaque expedita. Eum, asperiores accusantium.</div>
    <div>Veritatis libero officia quod reprehenderit, eaque molestiae, illum tempora repellendus laboriosam voluptatibus voluptate ea sint vero tempore error nemo placeat. Quisquam voluptatem harum saepe repellat repellendus quia ipsam, possimus impedit.</div>
</div>
{% endblock %}


{% block chuleta %}
<h1>care pepino</h1>
{% endblock %}
